@import "tailwindcss";

@theme {
  --color-cor1: #250000;
  --color-cor2: #481018;
  --color-cor3: #711d29;
  --color-cor4: #ab5158;
  --color-cor5: #e8878b;
  --color-header: #8f6277;
  --color-header2: #715959;
}
